body {
    margin: 0;
    font-family: "Underdog";
    color: Black;
    font-size: 2em;
}

.banner {
    background-image: url("resources/banner.png");
    background-color: #556B2F;
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;
    text-align: center;
    height: 150px;
    position: sticky;
    top: 0;
    z-index: 10;
    font-family:"Underdog", Papyrus;
}
#titletext{
    background: linear-gradient(to right, #046900, #2704c0);
    background-clip: text;
    -webkit-background-clip: text;
}
#titletext2{
    color: transparent;
    background: linear-gradient(to right, #046900, #2704c0);
    background-clip: text;
    -webkit-background-clip: text;
    font-family:"FairyFont", Papyrus;
    font-weight: lighter;
    
}
.parallax-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #556B2F, #4682B4);
}



#hero {
    background: linear-gradient(to bottom, #556B2F, #4682B4);
}

#about{
    background: linear-gradient(to bottom, #4682B4, #556B2F);
}

#features {
    background: linear-gradient(to bottom, #556B2F, #4682B4);
}

#contact {
    background: linear-gradient(to bottom, #4682B4, #556B2F);
}

.content {
    text-align: center;
    max-width: 800px;
    padding: 20px;
    
    z-index: 1;
}
#fairyrender{
    position: absolute;
    right: 0%;
    z-index: 1;
}
#faetropolisjar{
    position: absolute;
    left: 0%;
    z-index: 1;
}
h1, h2 {
    margin: 0 0 20px 0;
    font-family: "Underdog";
    font-size: 3em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

@font-face {
    font-family: FairyFont;
    src: url(resources/Dearest\ Dorothy.ttf);
}