body {
    margin: 0;
    font-family: "Rubik Distressed";
    color: Black;
}

.banner {
    background: linear-gradient(to right, #4682B4, #556B2F);
    color: transparent;
    text-align: center;
    padding: 20px;
    font-size: 4em;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 10;
    font-family:"Underdog", Papyrus;
}
#titletext{
    background: linear-gradient(to right, #046900, #2704c0);
    background-clip: text;
    -webkit-background-clip: text;
}
#titletext2{
    color: transparent;
    background: linear-gradient(to right, #046900, #2704c0);
    background-clip: text;
    -webkit-background-clip: text;
}
.parallax-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #556B2F, #4682B4);
}



#hero {
    background: linear-gradient(to bottom, #556B2F, #4682B4);
}

#about{
    background: linear-gradient(to bottom, #4682B4, #556B2F);
}

#features {
    background: linear-gradient(to bottom, #556B2F, #4682B4);
}

#contact {
    background: linear-gradient(to bottom, #4682B4, #556B2F);
}

.content {
    text-align: center;
    max-width: 800px;
    padding: 20px;
    
    z-index: 1;
}
#fairyrender{
    position: absolute;
    right: 0%;
}
#faetropolisjar{
    position: absolute;
    left: 0%;
}
h1, h2 {
    margin: 0 0 20px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}